<!-- _LoginRegister.cshtml -->
<section id="hero" class="hero section dark-background">
    <img src="~/assets/img/hero.jpg" alt="" data-aos="fade-in" class="">
    <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2>Welcome to Ranem Bank</h2>
                <p>Your trusted partner in financial solutions, dedicated to providing exceptional banking services tailored to your needs</p>
                <a href="/Account/Login" class="btn-get-started">Login</a>
                <a href="/Account/Register" class="btn-get-started">Register</a>
            </div>
        </div>
    </div>
</section>
