@Html.Partial("_LoginRegister")
<!-- About Section -->
<section id="about" class="about section ">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" data-aos="fade-up" data-aos-delay="200">
                <img src="~/assets/img/about.jpg" class="img-fluid" style="border-radius: 100px; overflow: hidden;" alt="">
            </div>

            <div class="col-lg-6 content order-last order-lg-first" data-aos="fade-up" data-aos-delay="100">
                <h3>About Us</h3>
                <p>
                   Welcom to Ranem Bank, we are committed to providing our customers with secure and efficient banking solutions. Our mission is to empower you with the tools you need to manage your finances effectively, whether it's through easy deposits, quick withdrawals, or seamless money transfers </p>
                <ul>
                    <li>
                        <i class="bi bi-diagram-3"></i>
                        <div>
                            <h5>Easy Deposits and Withdrawals</h5>
                            <p>Our platform allows you to deposit or withdraw funds with just a few clicks, ensuring a seamless experience every time.</p>
                        </div>
                    </li>
                    <li>
                        <i class="bi bi-fullscreen-exit"></i>
                        <div>
                            <h5>Secure Money Transfers</h5>
                            <p>Transfer money to any account securely and quickly, whether locally or internationally, with the highest security standards.</p>
                        </div>
                    </li>
                    <li>
                        <i class="bi bi-broadcast"></i>
                        <div>
                            <h5>Comprehensive Account Management</h5>
                            <p>Track your transactions, monitor account balances, and stay in control of your finances anytime, anywhere.</p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</section><!-- /About Section -->
